@{
    ViewBag.Title = "About";
}
<section class="single-page-title">
    <div class="container text-center">
        <h2>About us</h2>
    </div>
</section>
<!-- .page-title -->
<section class="about-text ptb-100">
    <section class="section-title">
        <div class="container text-center">
            <h2>A Few Words About Us</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Since 2007, we’ve been bringing borrowers and investors together,
                    the way people access credit. Over the last 10 years, we've helped millions of
                    people take control of their debt, grow their small businesses, and invest for the future.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Transforming an industry requires new ways of thinking and doing. Throughout our first decade,
                    we’ve been recognized for our ideas, innovative technology, and business success.
                    We’re proud of what we’ve achieved so far, and there’s so much more ahead.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- .about-text-->
<section class="skills ptb-100 gray-bg">
    <section class="section-title">
        <div class="container text-center">
            <h2>Our Professional Skills</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Completely reconceptualize leading-edge credit and investing</h3>
                <p>
                    We're leading the governance of a new industry,
                    developing ethical, responsible ways to bring greater value and better opportunities to customers..
                </p>
                <p>We’re a technology company built on the belief that innovative, creative solutions deliver more value and a better experience..</p>
                <p>Accessing credit should be seamless. We’re committed to making borrowing and investing simple and easy for everyone.</p>
            </div>
            <div class="col-md-6 x-progress">
                <div class="progress-wrapper">
                    <div class="progress-item">
                        <span class="progress-title">Solution</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="90"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                        <span class="progress-percent">90%</span>
                    </div>
                    <!-- /.progress-item -->
                    <div class="progress-item">
                        <span class="progress-title">Creativity</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="90"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                        <span class="progress-percent">90%</span>
                    </div>
                    <!-- /.progress-item -->
                    <div class="progress-item">
                        <span class="progress-title">Finance</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="85"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                        </div>
                        <span class="progress-percent">85%</span>
                    </div>
                    <!-- /.progress-item -->
                    <div class="progress-item">
                        <span class="progress-title">Efficiency</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-dealy" role="progressbar" aria-valuenow="90"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                        <span class="progress-percent">90%</span>
                    </div>
                    <!-- /.progress-item -->
                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
    </div>
</section>
<!-- .skills -->
<section class="testimonial">
    <section class="section-title">
        <div class="container text-center">
            <h2>Satisfied Customer</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div id="testimonialSlider" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <blockquote>
                        <ul>
                            <li><img src="~/HTML/img-testimonial-1.jpg" class="img-responsive" alt="" /></li>
                            <li class="name">
                                Leslie from Vineland
                                consolidated her debt
                            </li>
                        </ul>
                        <p>
                            I was truly impressed with how easy it was to apply for a loan and how quickly offers to assist me came in. The time-frame from the initial application to having the loan deposited into my account took just a few days.
                        </p>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <ul>
                            <li><img src="~/HTML/img-testimonial-2.jpg" class=" img-responsive" alt="" /></li>
                            <li class="name">
                                – Suze from Rome
                                paid off her credit card
                            </li>
                        </ul>
                        <p>
                            …I am saving thousands of dollars and now have no credit card debt. It is a great feeling to make one simple payment a month.

                        </p>
                    </blockquote>
                </div>
                <div class="item">
                    <blockquote>
                        <ul>
                            <li><img src="~/HTML/img-testimonial-3.jpg" class="img-responsive" alt="" /></li>
                            <li class="name">Paulina Mike, from Manchester, Consilidated her debt</li>
                        </ul>
                        <p>
                            Acquiring a loan through you guys was painless and stress-free..
                        </p>
                    </blockquote>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#testimonialSlider" role="button" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#testimonialSlider" role="button" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- #testimonialSlider -->
    </div>
</section>
<!-- .testimonial -->
<section class="client-logo ptb-100">
    <section class="section-title">
        <div class="container text-center">
            <h2>Our Clients</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                <a href="#"><img src="~/HTML/logo-client-1.png" alt="Image"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                <a href="#"><img src="~/HTML/logo-client-2.png" alt="Image"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                <a href="#"><img src="~/HTML/logo-client-3.png" alt="Image"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                <a href="#"><img src="~/HTML/logo-client-4.png" alt="Image"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                <a href="#"><img src="~/HTML/logo-client-5.png" alt="Image"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                <a href="#"><img src="~/HTML/logo-client-6.png" alt="Image"></a>
            </div>
        </div>
    </div>
    <!--end of .container -->
</section>
<!-- /.client-logo -->
