
@{
    ViewBag.Title = "Services";
   
}


<section class="single-page-title">
    <div class="container text-center">
        <h2>Services</h2>
    </div>
</section>
<!-- .page-title -->
<section class="service-icon-style ptb-100">
    <section class="section-title">
        <div class="container text-center">
            <h2>Solutions For You and Your Business!</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-eye"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Eye Opening Offers</h3>
                        <p>We give you the best deals than you can ever imagine. We‘re so confident in the rates you’ll find on CapitalSkye</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Finance &amp; Grants</h3>
                        <p>Most personal loans are unsecured, which means it doesn’t require you to provide collateral, such as your home or automobile, to the lender as security for repayment.</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Scientific & Risk Assessment</h3>
                        <p>We give you the best risk assessment based on the loan you need</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="promo-content">
                        <h3>Corporate Finance</h3>
                        <p>Get the funding you need, when you need it. Instant loans for your business</p>
                    </div>
                </div>
                <!-- /.promo-block-wrapper -->
            </div>
        </div>
        <!-- /.row -->
    </div>

</section>
<!-- .about-text-->

<section class="ptb-100 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 x-accordion">
                <h3>How we work</h3>
                <div class="panel-group" id="accordionSixLeft">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionSixLeft" href="#collapseSixLeftone" aria-expanded="false" class="collapsed">
                                    Seamlessly empower
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSixLeftone" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Free to use, no hidden fees
                                Requesting rates can take just minutes and costs you nothing.   No collateral!
                            </div>
                        </div>
                    </div><!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionSixLeft" href="#collapseSixLeftTwo" aria-expanded="false">
                                    Initiatives.
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSixLeftTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                Our team is here to help you reach your financial goals
                            </div>
                        </div>
                    </div><!-- /.panel-default -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="" data-toggle="collapse" data-parent="#accordionSixLeft" href="#collapseSixLeftThree" aria-expanded="true">
                                    Invest with Purpose
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSixLeftThree" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                Invest while building brighter futures for personal loan borrowers.
                            </div>
                        </div>
                    </div><!-- /.panel-default -->
                </div><!--end of /.panel-group-->
            </div>
            <!-- .x-aacordion-->
            <div class="col-md-6 col-sm-12 tabOne">
                <h3>Why choose our services</h3>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul id="tabOne" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#contentOne-1" data-toggle="tab" aria-expanded="true">Competitive Returns</a></li>
                        <li class=""><a href="#contentOne-2" data-toggle="tab" aria-expanded="false">Portfolio Diversifier</a></li>
                        <li class=""><a href="#contentOne-3" data-toggle="tab" aria-expanded="false">Timely Principals, Loans </a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="contentOne-1">
                            <p>
                                A fixed-income alternative, with historical returns of 3–8% per year.
                            </p>
                            <p>Investing in the consumer credit asset class through CapitalSkye provides a portfolio diversification opportunity and the potential to earn competitive returns.</p>
                        </div>
                        <div class="tab-pane fade" id="contentOne-2">
                            <p>
                                99% of portfolios with 100+ Notes have seen positive returns.
                            </p>
                            <p>Investors may avoid the ups and downs associated with the stock market because Capital Skye Notes have low correlation to the stock market</p>
                        </div>
                        <div class="tab-pane fade" id="contentOne-3">
                            <p>Investors receive principal and interest monthly as borrowers make payments on their loans. And borrowers can apply and get timely loans</p>
                        </div>
                    </div>
                </div> <!--.tabpanel-->
            </div>
        </div>
        <!-- /.row -->
    </div>

</section>
<!-- .about-text-->
