USE [master]
GO
/****** Object:  Database [mbank]    Script Date: 2/15/2019 10:57:44 AM ******/
CREATE DATABASE [mbank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mbank', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mbank.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mbank_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\mbank_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mbank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mbank]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/15/2019 10:57:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DateStamp] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Address] [int] NOT NULL,
	[CountryId] [varchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Sex] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[Alph3Code] [varchar](50) NOT NULL,
	[Name] [varchar](max) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Alph3Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ForwardTransfer]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ForwardTransfer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [varchar](50) NULL,
	[BeneficaryBank] [varchar](50) NULL,
	[BeneficaryName] [varchar](50) NULL,
	[DestinationAccountNo] [varchar](50) NULL,
	[BeneficarySwiftCode] [int] NULL,
	[BeneficaryAddress] [varchar](1000) NULL,
	[IBAN] [varchar](50) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Purpose] [varchar](500) NULL,
	[Status] [varchar](50) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_ForwardTransfer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAccount](
	[acctNo] [varchar](50) NOT NULL,
	[ActiveAmount] [money] NULL,
	[currency] [varchar](50) NULL,
	[userId] [nvarchar](128) NULL,
 CONSTRAINT [PK_tblAccount] PRIMARY KEY CLUSTERED 
(
	[acctNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAdminLogin]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdminLogin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AdminUsername] [varchar](50) NULL,
	[AdminPassword] [varchar](50) NULL,
	[role] [varchar](50) NULL,
 CONSTRAINT [PK_tblAdminLogin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblfeedbacks]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblfeedbacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Clientname] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[Message] [varchar](max) NULL,
	[datesent] [varchar](50) NULL,
 CONSTRAINT [PK_tblfeedbacks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLogins]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLogins](
	[loginId] [int] IDENTITY(1,1) NOT NULL,
	[LoginUsername] [varchar](max) NULL,
	[LoginPassword] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_tblLogins] PRIMARY KEY CLUSTERED 
(
	[loginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRegister]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRegister](
	[tblRegID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Othername] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[address] [varchar](400) NULL,
	[AccountType] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[AccountNo] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[currencyType] [varchar](50) NULL,
 CONSTRAINT [PK_tblRegister_1] PRIMARY KEY CLUSTERED 
(
	[tblRegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTransfer]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTransfer](
	[transferID] [int] IDENTITY(1,1) NOT NULL,
	[AcctNo] [varchar](50) NULL,
	[RecipientAcctNo] [varchar](50) NULL,
	[IBAN] [varchar](50) NULL,
	[BIC] [varchar](50) NULL,
	[RoutingNumber] [varchar](50) NULL,
	[Amount] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[DateSent] [varchar](50) NULL,
 CONSTRAINT [PK_tblTransfer] PRIMARY KEY CLUSTERED 
(
	[transferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransactionCode]    Script Date: 2/15/2019 10:57:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TransactionCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountNo] [varchar](50) NULL,
	[COT] [varchar](50) NULL,
	[TAX] [varchar](50) NULL,
	[IMF] [varchar](50) NULL,
	[DateGenerated] [datetime] NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_TransactionCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c9cb343c-f512-4b63-86e2-48a17df0c9cc', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ac0cf466-78cf-47bc-9132-fb4998eeff01', N'SuperAdmin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'170d3ae0-8591-4e2d-8bda-fb6c49c06751', N'ac0cf466-78cf-47bc-9132-fb4998eeff01')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'170d3ae0-8591-4e2d-8bda-fb6c49c06751', N'c9cb343c-f512-4b63-86e2-48a17df0c9cc')
INSERT [dbo].[Countries] ([Alph3Code], [Name]) VALUES (N'ABW', N'Aruba')
INSERT [dbo].[Countries] ([Alph3Code], [Name]) VALUES (N'AFG', N'Afghanistan')
INSERT [dbo].[Countries] ([Alph3Code], [Name]) VALUES (N'AGO', N'Angola')
GO
SET IDENTITY_INSERT [dbo].[ForwardTransfer] ON 

INSERT [dbo].[ForwardTransfer] ([ID], [AccountID], [BeneficaryBank], [BeneficaryName], [DestinationAccountNo], [BeneficarySwiftCode], [BeneficaryAddress], [IBAN], [Amount], [Purpose], [Status], [Date]) VALUES (1, N'5094362507', N'Skie;', N'kmldoa Julis', N'9390420499', 4903402, N'London', N'3030402', CAST(2004.00 AS Decimal(18, 2)), N'jiruioe', N'SUCCESSFUL', CAST(0x0000A9F5009C0575 AS DateTime))
SET IDENTITY_INSERT [dbo].[ForwardTransfer] OFF
INSERT [dbo].[tblAccount] ([acctNo], [ActiveAmount], [currency], [userId]) VALUES (N'5094348704', 7400.0000, N'USD', NULL)
INSERT [dbo].[tblAccount] ([acctNo], [ActiveAmount], [currency], [userId]) VALUES (N'5094358071', 4100.0000, N'USD', NULL)
INSERT [dbo].[tblAccount] ([acctNo], [ActiveAmount], [currency], [userId]) VALUES (N'5094362507', 9496.0000, N'USD', N'387536aa-82ff-417c-a1cb-093a7ce6f00f')
SET IDENTITY_INSERT [dbo].[tblAdminLogin] ON 

INSERT [dbo].[tblAdminLogin] ([id], [AdminUsername], [AdminPassword], [role]) VALUES (1, N'donprecious', N'1234', NULL)
SET IDENTITY_INSERT [dbo].[tblAdminLogin] OFF
SET IDENTITY_INSERT [dbo].[tblfeedbacks] ON 

INSERT [dbo].[tblfeedbacks] ([id], [Clientname], [email], [Message], [datesent]) VALUES (1, N'44r', N're@g.huj', N'ttrr', N'8/2/2017 10:24:16 PM')
INSERT [dbo].[tblfeedbacks] ([id], [Clientname], [email], [Message], [datesent]) VALUES (2, N'', N'', N'', N'8/3/2017 9:55:50 PM')
INSERT [dbo].[tblfeedbacks] ([id], [Clientname], [email], [Message], [datesent]) VALUES (3, N'', N'', N'', N'8/3/2017 10:00:17 PM')
SET IDENTITY_INSERT [dbo].[tblfeedbacks] OFF
SET IDENTITY_INSERT [dbo].[tblLogins] ON 

INSERT [dbo].[tblLogins] ([loginId], [LoginUsername], [LoginPassword], [status]) VALUES (1, N'5094358071', N'vxf29031', N'Blocked')
INSERT [dbo].[tblLogins] ([loginId], [LoginUsername], [LoginPassword], [status]) VALUES (2, N'5094348704', N'vxf2434812', N'Approved')
INSERT [dbo].[tblLogins] ([loginId], [LoginUsername], [LoginPassword], [status]) VALUES (3, N'5094362507', N'vxf31249', N'Approved')
SET IDENTITY_INSERT [dbo].[tblLogins] OFF
SET IDENTITY_INSERT [dbo].[tblRegister] ON 

INSERT [dbo].[tblRegister] ([tblRegID], [FirstName], [LastName], [Othername], [Email], [phone], [address], [AccountType], [DOB], [AccountNo], [password], [currencyType]) VALUES (1, N'precious', N'iyeritu', NULL, N'kibjh@gmail.com', NULL, NULL, N'Current', N'2017-06-13', N'5094358071', N'vxf29031', N'USD')
INSERT [dbo].[tblRegister] ([tblRegID], [FirstName], [LastName], [Othername], [Email], [phone], [address], [AccountType], [DOB], [AccountNo], [password], [currencyType]) VALUES (2, N'precious', N'iyeritu', NULL, N'kmdj@gmail.com', NULL, NULL, N'Saving', N'2017-06-14', N'5094348704', N'vxf24348', N'USD')
INSERT [dbo].[tblRegister] ([tblRegID], [FirstName], [LastName], [Othername], [Email], [phone], [address], [AccountType], [DOB], [AccountNo], [password], [currencyType]) VALUES (3, N'amos', N'kaisn', NULL, N'ndjhjh@gmail.com', NULL, NULL, N'Saving', N'2017-07-20', N'5094362507', N'vxf31249', N'USD')
SET IDENTITY_INSERT [dbo].[tblRegister] OFF
SET IDENTITY_INSERT [dbo].[tblTransfer] ON 

INSERT [dbo].[tblTransfer] ([transferID], [AcctNo], [RecipientAcctNo], [IBAN], [BIC], [RoutingNumber], [Amount], [Status], [DateSent]) VALUES (5, N'5094348704', N'0904823642', N'34545', N'332', N'455', N'2000', N'Approved', NULL)
INSERT [dbo].[tblTransfer] ([transferID], [AcctNo], [RecipientAcctNo], [IBAN], [BIC], [RoutingNumber], [Amount], [Status], [DateSent]) VALUES (6, N'5094362507', N'5094348704', N'8273', N'b382', N'372913', N'2000', N'Approved', NULL)
INSERT [dbo].[tblTransfer] ([transferID], [AcctNo], [RecipientAcctNo], [IBAN], [BIC], [RoutingNumber], [Amount], [Status], [DateSent]) VALUES (1006, N'5094348704', N'5094362507', N'wiejd', N'1ikis', N'23', N'1000', N'Approved', NULL)
SET IDENTITY_INSERT [dbo].[tblTransfer] OFF
SET IDENTITY_INSERT [dbo].[TransactionCode] ON 

INSERT [dbo].[TransactionCode] ([Id], [AccountNo], [COT], [TAX], [IMF], [DateGenerated], [Status]) VALUES (2, N'5094362507', N'1234', N'1234', N'1234', CAST(0x0000A9F50088F301 AS DateTime), N'UNUSED')
SET IDENTITY_INSERT [dbo].[TransactionCode] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2/15/2019 10:57:45 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2/15/2019 10:57:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2/15/2019 10:57:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 2/15/2019 10:57:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 2/15/2019 10:57:45 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 2/15/2019 10:57:45 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__Addre__625A9A57]  DEFAULT ((0)) FOR [Address]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Alph3Code])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Countries]
GO
ALTER TABLE [dbo].[ForwardTransfer]  WITH CHECK ADD  CONSTRAINT [FK_ForwardTransfer_tblAccount] FOREIGN KEY([AccountID])
REFERENCES [dbo].[tblAccount] ([acctNo])
GO
ALTER TABLE [dbo].[ForwardTransfer] CHECK CONSTRAINT [FK_ForwardTransfer_tblAccount]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD  CONSTRAINT [FK_tblAccount_AspNetUsers] FOREIGN KEY([userId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblAccount] CHECK CONSTRAINT [FK_tblAccount_AspNetUsers]
GO
ALTER TABLE [dbo].[tblRegister]  WITH CHECK ADD  CONSTRAINT [FK_tblRegister_tblAccount] FOREIGN KEY([AccountNo])
REFERENCES [dbo].[tblAccount] ([acctNo])
GO
ALTER TABLE [dbo].[tblRegister] CHECK CONSTRAINT [FK_tblRegister_tblAccount]
GO
ALTER TABLE [dbo].[TransactionCode]  WITH CHECK ADD  CONSTRAINT [FK_TransactionCode_tblAccount] FOREIGN KEY([AccountNo])
REFERENCES [dbo].[tblAccount] ([acctNo])
GO
ALTER TABLE [dbo].[TransactionCode] CHECK CONSTRAINT [FK_TransactionCode_tblAccount]
GO
USE [master]
GO
