/* 
colors
RED
900 #B71C1C
800 #C62828
700 #D32F2F
400 #Ef5350
500 #F44336
BLUE
900 #1A237E
800 #283593
500 #3751B3
400 #5C6BC0
*/
@import url('https://fonts.googleapis.com/css?family=Nunito:800');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    font-family: 'Oswald', sans-serif;
}
a{
    font-family: 'Nunito', sans-serif;
    color:#3751B3;
}
a:hover{
    color:#283593;
}
h2{
    color: #3751B3;
}
h3{
    color:#Ef5350;
}
h4{
    color:#F44336
}
.link-bod{
    margin-right: 5px;
    border-radius: 10px;
}
.hero-banner{
background: url("../img/ban1.png") center center no-repeat;
background-size: cover; 
padding-top: 100px;
}
.hero-banner .title h1{
    color: #B71C1C  !important;

}
.banner-content{
    padding-top: 40px;
}
.link-curve{
    margin-right: 5px;
    border-radius: 50px;
    background-color: #B71C1C;
}
a.nav-link.link-curve.js-scroll-trigger.active{
    background-color: #D32F2F !important;
}
a.nav-link.link-curve.js-scroll-trigger.active, .link-curve:hover, .link-curve:focus, .link-curve:active{
    background-color: #D32F2F;
    color: rgb(255, 255, 255);
}
.app-header .nav-item .active, .app-header .nav-item .nav-link:hover{
    color:rgb(253, 136, 136);
}

.btn-gradient {
    color: #fff;
    border: none;
    background-image: -webkit-linear-gradient(left, #B71C1C 0%, #F44336 100%);
    background-image: linear-gradient(to right, #B71C1C 0%, #F44336 100%);
}

.btn-white:hover, .dark-theme .btn-white:hover {
    color: #fff;
    background: #283593;
}
.section-gap{
    background:#283593;
}
.section-gap h2{
    color: #Ef5350;
}

.js_steps_carousel .owl-dots .owl-dot.active, .js_steps_carousel .owl-dots .owl-dot:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(left, #C62828 0%,#F44336 100%);
    background-image: linear-gradient(to right, #C62828 0%, #F44336 100%);
}
.bg-white{
    background-color: white;
}
.account-form{
margin-top: 10px;
padding-top: 20px;
margin-left: auto;
margin-right: auto;
width: 60%;

}
@media (max-width: 768px){ 
    .hero-banner {
    height: 75%;
}
@media (max-width: 550px) {
    width: 90%;
}
.link-curve{
   
    border-radius: 0;
   margin: 0;
}
}
